:root {
  --bkg-color: black;
  --txt-color: white;
  --fallback-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --react-ny-bg: rgb(243, 238, 238);
}

#app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  background-color: var(--bkg-color);
  color: var(--txt-color);
  margin: 0;
  padding: 0;
  font-family: var(--fallback-font);
  overflow: hidden;
  font-size: 3rem;
}

button {
  font-size: 2rem;
  display: block;
  margin: 1em 0;
  border: solid 1px currentColor;
  outline: none;
  background-color: black;
  border-radius: 2px;
  color: white;
}

button:active {
  background-color: hotpink;
  color: black;
}

footer {
  background-color: white;
  width: 100%;
}
